<launch>
  <node pkg="spacenav_rviz_controller" type="rviz_controller" name="cylinder_cursor">
    <!-- These allow the spacenav_mux to be used -->
    <remap from="spacenav/joy" to="cylinder_cursor/spacenav/joy"/>
    <remap from="spacenav/offset" to="cylinder_cursor/spacenav/offset"/>
    <remap from="spacenav/rot_offset" to="cylinder_cursor/spacenav/rot_offset"/>
    <remap from="spacenav/twist" to="cylinder_cursor/spacenav/twist"/>    

    <param name="parent_frame" type="string" value="pelvis"/>
    <param name="translational_sensitivity" type="double" value=".0001"/>
    <param name="angular_sensitivity" type="double" value=".001"/>
  </node>
  <node pkg="spacenav_rviz_controller" type="spacenav_cursor_ui.py" name="cylinder_cursor_ui" args="cylinder_cursor"/>
  <node pkg="point_cloud_selector" type="cylinder_selector" name="cylinder_selector">
    <!-- These allow the spacenav_mux to be used -->
    <remap from="spacenav/joy" to="cylinder_cursor/spacenav/joy"/>
    <remap from="spacenav/offset" to="cylinder_cursor/spacenav/offset"/>
    <remap from="spacenav/rot_offset" to="cylinder_cursor/spacenav/rot_offset"/>
    <remap from="spacenav/twist" to="cylinder_cursor/spacenav/twist"/>
  </node>
  <node pkg="point_cloud_selector" type="cylinder_selector_ui.py" name="cylinder_select_ui"/>
</launch>